#list1 .form-control {
    border-color: transparent;
  }
  #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
  #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
  }
  .center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
u{
  text-decoration: none ;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: black;
}

input[type="checkbox"],p{
  margin: 15px;
  padding: 10px;

}
p{
  margin-left:50px ;
}
.row{
  max-width: 50%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
